.nav{
    background-color: #8A0202;
    display: flex;
    justify-content: space-between;
    /* position: fixed;
    width: 100%;
    top: 0 */
    
}
.menuPng{
    width: 40px;
    margin: 10px;
}