.calculatorContainer{
    background-color: rgb(184, 138, 22, 0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    width: 200px;
    position: fixed;
    top: 10%;
    left: 20px;
    height: 75px;
    padding: 10px;
}
.calculatorTitle{
    font-size: x-small;
}
@media (max-width: 400px) {
    .calculatorContainer{
        top: 70%;
    }
}