.mickeyTicket{
    width: 100px;
    position: relative;
    left: 10mm ;
    /* right: 10mm;
    bottom: 30mm; */
}
.mainTicketContainer{
    display: flex;
    flex-direction: column;
    width: 58mm;
    font-size: x-small;
    position: relative;
    
}
.ticketTitle{
    font-size: medium;
}
.divisorContainerStart{
    background-color: black;
    height: 0.5mm;
}
.divisorContainerEnd{
    background-color: black;
    height: 1mm;
}
.printButton{
    position: fixed;
    right: 10px;
    bottom:50% ;
}
.informacionFiscal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: xx-small;
}
.modalBox{
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: red;
    z-index: 6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}
.modalText{
    color: #FFD449;
    filter: drop-shadow(black 3px 3px 3px);
    font-weight: 500;
    font-size: xx-large;
}
.inputPayment{
    width: 50%;
    height: 30%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: xx-large;
    background-color: #ffffff;
    border: double black 10px;
    
}