.mickeyTicket{
    width: 50px;
    position: absolute;
    right: 15mm;
    bottom: 50mm;
}
.mainTicketContainer{
    display: flex;
    flex-direction: column;
    width: 58mm;
    font-size: x-small;
    position: relative;
}
.ticketTitle{
    font-size: medium;
}
.divisorContainerStart{
    background-color: black;
    height: 0.5mm;
}
.divisorContainerEnd{
    background-color: black;
    height: 1mm;
}
.printButton{
    position: fixed;
    right: 10px;
    bottom:50% ;
}
.informacionFiscal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}