.totalTicket{
    font-size: large;
    font-weight: 600;
}
.downSearchContainer{
    position: relative;
    top: -50px;
}
.productTicketAddedContainer{
    display: flex;
    /* position: fixed; */
    justify-content: center;
    /* left: 50%; */
    bottom: 30px;

}
.productTicketAddedImage{
    width: 30px;
}
.productTicketAdded{
    padding: 10px;
}
.paymentInput{
    position: fixed;
    top: 50%;
    right: 0px;
}
.productTicketAddedContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    border-width: 1px;
    border-color: blue;
    background-color: #FFD449;
}